.my-border{
    border-radius: 15px;
}

.demo-card-square.mdl-card {
    width: 510px;
    height: 320px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    height: 210px;
    background:
      url('/assets/spiderman.jpg') center / cover #46B6AC;
  }