.demo-layout-transparent {
    background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }

  .mdl-layout-title{
    color: purple;
    font-size: 40px;
    font-weight: bold;
  }

  .my-intro{
    padding-left: 10%;
    display: block;
  }
  .my-title{
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding-bottom: 1em;
  }

.my-image-container{
    display: flex;
    justify-content: center; /* Alineación horizontal centrada */
    align-items: center; /* Alineación vertical centrada */
}

.demo-card-wide.mdl-card {
    width: 512px;
    align-content: center;
  }
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }
.demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  
body {
    padding: 20px;
    background: #fafafa;
    position: relative;
}
